:root {
    --background-color: #181a1b;
    --button-color: #4a5155;
    --text-color: #e8e6e3;
    --global-padding: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: var(--global-padding);
}

h1 {
    text-align: center;
}

li {
    padding: 0.5rem;
}

.loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.pokemon-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.pokemon-button {
    cursor: pointer;
    width: 200px;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.3s opacity;
    transition: 0.2s ease-in-out;
}

.pokemon-button:hover {
    box-shadow: 2px 3px 3px #606466;
    opacity: 1;
}