:root {
    --background-color: #181a1b;
    --button-color: #4a5155;
    --text-color: #f5f4f3;
    --global-padding: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: var(--global-padding);
}

h1 {
    text-align: center;
}

li {
    padding: 0.5rem;
}

.loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.pokemon-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.pokemon-button {
    cursor: pointer;
    width: 200px;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.3s opacity;
    transition: 0.2s ease-in-out;
}

.pokemon-button p {
    text-transform: capitalize;
}

.pokemon-button:hover {
    box-shadow: 2px 3px 3px #606466;
    opacity: 1;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.modal-close {
    float: right;
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
    padding-left: 3rem;
    text-transform: uppercase; 
}

.pokemon-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pokemon-content img {
    width: 300px;
    height: 300px;
    padding-right: 2rem;
}

.pokemon-info {
    display: grid;
    text-align: left;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: ; */
    grid-gap: 2rem;
    padding-right: 2rem;
    font-size: 24px;
}

.pokemon-info span {
    text-transform: capitalize;
    text-align: center;
    border-radius: 20px;
    padding: 0.3rem;
}

.pokemon-info span.height, span.weight {
    text-align: left;
}

.pokemon-info span.normal {
    background-color: #6f7577;
}
.pokemon-info span.fire {
    background-color: rgb(150, 85, 12);
}
.pokemon-info span.water {
    background-color: rgb(0, 87, 173);
}
.pokemon-info span.electric {
    background-color: rgb(165, 125, 4);
}
.pokemon-info span.grass {
    background-color: rgb(88, 141, 42);
}
.pokemon-info span.ice {
    background-color: rgb(0, 95, 143);
}
.pokemon-info span.fighting {
    background-color: rgb(150, 68, 54);
}
.pokemon-info span.poison {
    background-color: rgb(83, 15, 138);
}
.pokemon-info span.fairy {
    background-color: rgb(190, 73, 201);
}
.pokemon-info span.ground {
    background-color: rgb(145, 116, 29);
}
.pokemon-info span.flying {
    background-color: rgb(92, 104, 182);
}
.pokemon-info span.psychic {
    background-color: rgb(153, 0, 61);
}
.pokemon-info span.bug {
    background-color: rgb(136, 150, 27);
}
.pokemon-info span.rock {
    background-color: rgb(127, 113, 56);
}
.pokemon-info span.ghost {
    background-color: rgb(56, 56, 127);
}
.pokemon-info span.steel {
    background-color: rgb(118, 118, 133);
}
.pokemon-info span.dragon {
    background-color: rgb(31, 15, 137);
}

.types {
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .pokemon-content img {
        width: 150px;
        height: 150px;
    }
    
    .pokemon-info {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .modal {
        max-width: 950px;
    }

    .pokemon-content img {
        width: 450px;
        height: 450px;
    }

    .pokemon-info {
        font-size: 28px;
    }
}
