:root {
    --background-color: #181a1b;
    --button-color: #4a5155;
    --text-color: #e8e6e3;
    --global-padding: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: var(--global-padding);
}

h1 {
    margin-left: 40px;
}

li {
    margin-bottom: 7px;
}

.loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.pokemon-list {
    list-style-type: none;
}

.pokemon-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 0px 15px 5px 15px;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.8;
    transition: 0.5s opacity;
    transition: 0.4s ease-in-out;
}

.pokemon-button:hover {
    box-shadow: 2px 3px 3px #606466;
    opacity: 1;
}